In [ ]:
# cubes are red, green or blue
# 3 find out number of cubes in bag
# see a few draws of random number of cubes, then they're put back in

In [ ]:
# which games would have been possible if the bag contained only 12 red cubes, 13 green cubes, and 14 blue cubes
# What is the sum of the IDs of those games?

In [9]:
import pandas as pd
import re

In [33]:
raw_text = open('./input2.txt', 'r')
input_text = raw_text.readlines()

In [88]:
data = pd.read_csv("input2.txt", sep="\n", header=None)
#df = data[0].str.split(';|:', expand=True)
df = data[0].str.split(':', expand=True)
df = df.fillna('0')


for col in list(df.columns):
    df[col] = df[col].apply(lambda x: x.replace(' ', ''))

df

          0                                                  1
0     Game1  12red,2green,5blue;9red,6green,4blue;10red,2gr...
1     Game2  3green,7red;3blue,5red;2green,1blue,6red;3gree...
2     Game3  12red,18blue,3green;14red,4blue,2green;4green,...
3     Game4  14blue,8red,10green;7green,9blue,4red;4green,5red
4     Game5  2red,1blue,4green;1blue,1red,5green;6green,3re...
..      ...                                                ...
95   Game96        2green;7blue,10red,4green;9red,2blue,9green
96   Game97  5blue,6red,14green;6green,14blue,2red;2blue,4g...
97   Game98  8green,1blue,9red;1blue,10green;11green,1blue,...
98   Game99  1red,6green,3blue;7blue,1red,2green;1red,4gree...
99  Game100  5green,1red;1red,6green;6blue,1red,6green;6blu...

[100 rows x 2 columns]

In [85]:
# actual number of cubes
n_cubes = {'red': 12, 'green': 13, 'blue': 14}

In [102]:
# compare max for each color for each game to the actual number of cubes present
# as soon as one draw is too high we discard that game 

impossible_games = set()
all_games = set()

for i, game in df.iterrows():
    for color in ['red', 'green', 'blue']:
        regex = r"(\d+)" + color 
        max_draw = max([int(i) for i in re.findall(regex, game[1])])
        
        if max_draw> n_cubes[color]:
            # save the ID of the game
            impossible_games.add(int(re.sub(r"\D", "", game[0])))
            break
            
    all_games.add(int(re.sub(r"\D", "", game[0])))

In [107]:
# games that are not in impossible games
t = all_games^(impossible_games)
sum(t)

2600

In [ ]:
# part 2
# find fewest number of cubes of each color that could have been in the bag to make the game possible
# result = sum(max_red * max_blue * max_green) over all games

In [109]:
from functools import reduce

In [110]:

all_powers = []

# for each game we find the max for each color
for i, game in df.iterrows():
    game_cubes = []
    for color in ['red', 'green', 'blue']:
        regex = r"(\d+)" + color 
        max_draw = max([int(i) for i in re.findall(regex, game[1])])
        game_cubes.append(max_draw)
    
    # multiplying the 3 max numbers together (might be tricky if there are null values, so using reduce wich works for any len)
    game_power = reduce(lambda x, y: x*y, game_cubes)
    all_powers.append(game_power)

In [112]:
sum(all_powers)

86036